%ul.nav.nav-pills.nav-stacked.nested-nav
  - categories.each do |category, children|
    %li
    = link_to category.name, category, class: "nav-link #{"active" if current_page?(category_path(category))}"
    = render "shared/submenu_categories", categories: children if children.present?