default: &default
  host: localhost
  adapter: mysql2
  encoding: utf8
  username: ***
  password: ***

development:
  <<: *default
  database: blog_development

test:
  <<: *default
  database: blog_test

production:
  <<: *default
  database: blog_production
  username: blog
  password: <%= ENV['BLOG_DATABASE_PASSWORD'] %>
