.main
  padding-top: 1em

.field_with_errors
  label
    color: #d01612
  input
    border-color: #d01612

.nested_nav
  margin-left: 1em

.tag_cloud
  margin-top: 2em

.image_show
  width: 35px
  height: 35px
  border-radius: 50px

.img
  width: 40px
  height: 40px
  border-radius: 50px

.menu_item
  border-style: hidden
  border-radius: 30px
  margin-left: 7px

.menu_item:active
